//reset user agent styles

input, input:focus, input:active, {
	outline:none;
	background:none;
	color:#000;
}

select:not(:-internal-list-box) {
    overflow: visible !important;
    border:0px;
    outline:none;
}
select, input[type="color" i][list] {
    background-color: rgb(248, 248, 248);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(166, 166, 166);
    border-image: initial;
}
select {
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: left;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    background-color: white;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    border-width:0px;
    background-color:transparent;
    border-radius:0px;
}

// select box
.form-options {
	option {
		display:block;
		border:none;
		outline:none;
	}
}

//removes fieldset outline from rightpoint styles

.form-group {
	outline:none;
	border:none;
}

.form-persist {
	display:block;
	fieldset,input,select,option {
		display:block;
		width:100%;
		clear:both;
	}
}



